
    <h1 class="col-12 text-center splash-text">Order Tracker</h1>
  
    <form>
        <h2 class="col-12 text-center section-header">Enter Order Details</h2>
        <div class="form-row justify-content-around">
            <div class="form-group col-md-2 col-12">
                <label for="">Enter Menu Item:</label>
                <select class="form-control" id="food-item">
                    <option data="Nachos">Nachos</option>
                    <option data="Tex Mex Burger">Tex Mex Burger</option>
                    <option data="Port Onion Soup">Port Onion Soup</option>
                    <option data="Caesar Salad">Caesar Salad</option>
                    <option data="BBQ Pizza">BBQ Pizza</option>
                    <option data="Milk Shake">Milk Shake</option>
                </select>
            </div>
            <div class="form-group col-md-2 col-12">
                <label for="">Enter Quantity:</label>
                <input type="order-quantity" class="form-control" id="order-quantity" placeholder="Number">
            </div>
            <div class="form-group col-md-2 col-12">
                <label for="">Check Number:</label>
                <input type="check-number" class="form-control" id="check-number" placeholder="D1923">
            </div>
            <div class="form-group col-md-2 col-12">
                <label for="">Table Number:</label>
                <select class="form-control" id="table-number">
                    <option data="1">1</option>
                    <option data="2">2</option>
                    <option data="3">3</option>
                    <option data="4">4</option>
                    <option data="5">5</option>
                </select>
            </div>
            <div class="form-group col-md-2 col-12">
                <button type="submit" class="btn col-12" id="order-submit">Submit</button>
            </div>
        </div>
    </form>

    <!-- Open Orders -->
    <div class="container-fluid">
        <div class="row card">
            <div class="card-header text-center"  id="?">
                All Open Orders
            </div>
                <table class="table text-center" id="openOrdersTable" >
                <thead>
                    <tr>
                        <th scope="col">
                            Food Item
                        </th>
                        <th scope="col">
                            Quantity
                        </th>
                        <th scope="col">
                            Table Number
                        </th>
                        <th scope="col">
                            Check Number
                        </th>
                        <th scope="col">
                            Taken At
                        </th>
                        <th scope="col">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody id="openOrderRows">
                    {{#each openOrderData}}
                        <tr>
                            <td>
                                {{this.menu_item}}
                            </td>
                            <td>
                                {{this.quantity}}
                            </td>
                            <td>
                                {{this.table_number}}
                            </td>
                            <td>
                                {{this.check_number}}
                            </td>
                            <td>
                                {{this.order_time}}
                            </td>
                            <td>
                                <button class="btn done-btn" data="{{this.id}}">Mark Done</button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>   
        </div>
    </div>

     <!-- Partial Table Orders -->
     <div class="container-fluid">
            <div class="row card">
                <div class="card-header text-center"  id="?">
                    High Priority Orders<br>Partially Completed Tables
                </div>
                    <table class="table text-center" id="closedOrdersTable" >
                    <thead>
                        <tr>
                            <th scope="col">
                                Food Item
                            </th>
                            <th scope="col">
                                Quantity
                            </th>
                            <th scope="col">
                                Table Number
                            </th>
                            <th scope="col">
                                Check Number
                            </th>
                            <th scope="col">
                                Taken At
                            </th>
                            <th scope="col">
                                Closed At
                            </th>
                        </tr>
                    </thead>
                    <tbody id="openOrderRows">
                     
                    </tbody>
                </table>   
            </div>
        </div>


     <!-- Closed Orders -->
     <div class="container-fluid">
            <div class="row card">
                <div class="card-header text-center"  id="?">
                   All Closed Orders
                </div>
                    <table class="table text-center" id="closedOrdersTable" >
                    <thead>
                        <tr>
                            <th scope="col">
                                Food Item
                            </th>
                            <th scope="col">
                                Quantity
                            </th>
                            <th scope="col">
                                Table Number
                            </th>
                            <th scope="col">
                                Check Number
                            </th>
                            <th scope="col">
                                Taken At
                            </th>
                            <th scope="col">
                                Closed At
                            </th>
                        </tr>
                    </thead>
                    <tbody id="closedOrderRows">
                    {{#each closedOrderData}}
                        <tr>
                            <td>
                                {{this.menu_item}}
                            </td>
                            <td>
                                {{this.quantity}}
                            </td>
                            <td>
                                {{this.table_number}}
                            </td>
                            <td>
                                {{this.check_number}}
                            </td>
                            <td>
                                {{this.order_time}}
                            </td>
                            <td>
                                {{this.filled_time}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>   
            </div>
        </div>


    <!--Footer Section-->
    <footer class="container-fluid" id="home-footer">
        <div class="row no-gutters align-items-end">
            <div class="col-sm-12 pt-4 pb-3 text-center">
                <p><strong>© Copyright 2018 Tony Wible</strong></p>
            </div>
        </div>
    </footer>
    

    <!-- Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Data Entry Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please check that you entered a valid quantity and check number. Check number must be four digits long (e.g. K143).
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

